<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.actorfw.infra.modules.xoditionpost.OditionPostMapper">

<resultMap type="com.actorfw.infra.modules.xoditionpost.OditionPost" id="resultObj"></resultMap>

	<!-- paging -->
	<sql id ="selectCommon">
		FROM post_odition a
		WHERE 1=1
		<!-- <if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if> -->
		<choose>
			<!-- <when test="shOption == 0"></when> -->
			<when test="shOption == 1">AND type LIKE CONCAT ('%',#{shValue},'%') </when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND gender LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND member_seq LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
		<!-- <choose>
			useNy
			<when test="shUseOption == 0"> AND useNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shUseOption == 1"> AND useNy LIKE CONCAT ('%',1,'%')</when>
		</choose>
		<choose>
			delNy
			<when test="shDelOption == 0"> AND delNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shDelOption == 1"> AND delNy LIKE CONCAT ('%',1,'%')</when>
		</choose> -->
	</sql>

	<select id="oditionList" resultMap="resultObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.seq			
			,a.member_seq
			,a.type		
			,a.name	
			,a.age	
			,a.gender	
			,a.casting	
			,a.producer
			,a.director	
			,a.location	
			,a.deadline	
			,a.manager	
			,a.pay		
			,a.email		
			,a.contents
		<include refid="selectCommon" />
				ORDER BY a.seq DESC	<!-- DESC내림차순 정렬  ASC오름차순 정렬 -->
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	<select id="selectLastSeq" resultType="Integer">
		SELECT
			seq
		FROM post_odition
		ORDER BY seq DESC
		LIMIT 1	
	</select>
	<select id="selectOne" resultMap="resultObj">
		SELECT 
			*
		FROM post_odition
		WHERE 1=1
		AND seq = #{seq}
	</select>
	
	<insert id="insrtOdition">
		INSERT INTO post_odition (
			type	
			,name		
			,age	
			,gender	 
			,casting 
			,producer	 
			,director	 
			,location	 
			,deadline
			,manager	 
			,pay		 
			,email		 
			,contents	
			,member_seq 	
		)
		VALUE (
			#{type}
			,#{name}
			,#{age}
			,#{gender}
			,#{casting}
			,#{producer}
			,#{director}
			,#{location}
			,#{deadline}
			,#{manager}
			,#{pay}
			,#{email}
			,#{contents}
			,#{member_seq}
		)	
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<insert id="insertOditionUpload">
		INSERT INTO odition_PostUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		)
		VALUE (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{delNy}
			,#{pseq}
		)
	</insert>
	
	<select id="postComentList" resultMap="resultObj">
		SELECT
			a.member_seq
			,a.contents
			,a.datetime
			,b.path
			,b.uuidName
			,c.name AS writer
		FROM post_odition_coment a
		JOIN memberUploaded b
		ON a.member_seq = b.pseq
		JOIN member c
		ON a.member_seq = c.seq
		WHERE 1=1
		AND b.defaultNy = 1
		AND b.type = 2
		AND a.member_seq = b.pseq
		AND a.post_odition_seq = #{seq}
		ORDER BY a.seq DESC
	</select>
	
	<insert id="insertComnt">
	INSERT INTO post_odition_coment (
		member_seq
		,contents
		,post_odition_seq
	)
	VALUE (
		#{member_seq}
		,#{contents}
		,#{post_odition_seq}
	)	
	</insert>
	
	<select id="comentOne" resultMap="resultObj">
		SELECT
			a.name AS writer
		    ,b.path
		    ,b.uuidName
	    FROM member a
	    JOIN memberUploaded b
	    ON a.seq = b.pseq
    	WHERE 1=1
    	AND type = 2
    	AND defaultNy = 1
    	AND a.seq = #{member_seq}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>