<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.code.CodeMapper">
	
	<resultMap type="com.actorfw.infra.modules.code.Code" id="resultMapObj"></resultMap>
		
		<select id="selectList" resultMap="resultMapObj">
		
		SELECT
			*
		FROM cc
		WHERE
		1=1
		
		<choose>
			<!-- <when test="shOption == 0"></when> -->
			<when test="shOption == 1">AND seq = #{shValue} </when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND useNY LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		
		</select>
 
		
		<select id="addCodeName" resultMap="resultMapObj">
		
		SELECT
			name
		FROM ccg
		WHERE
		1=1
		
		</select>

		




</mapper>