<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.code.CodeMapper">
	
	<resultMap type="com.actorfw.infra.modules.code.Code" id="resultMapObj"></resultMap>
		
	<select id="selectList" resultMap="resultMapObj">
		
		SELECT
			a.seq
			,a.name
			,a.oder
			,a.useNy
			,a.delNy
			,a.creDate
			,a.modDate
		FROM cc a
		WHERE
		1=1
		<choose>
			<!-- <when test="shOption == 0"></when> -->
			<when test="shOption == 1">AND seq = #{shValue} </when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
			<!-- useNy -->
			<when test="shUseOption == 0"> AND useNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shUseOption == 1"> AND useNy LIKE CONCAT ('%',1,'%')</when>
			<!-- delNy -->
			<when test="shDelOption == 0"> AND delNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shDelOption == 1"> AND delNy LIKE CONCAT ('%',1,'%')</when>
			<!-- Date -->
			<when test="shDateOption == 1"> And modDate LIKE CONCAT (1)</when>
			<when test="shDateOption == 2"> And creDate LIKE CONCAT (2)</when>
		</choose>							
	
	</select>

	<select id="selectOne" resultMap="resultMapObj">
	
		SELECT
			a.seq
			,a.name
			,a.oder
			,a.useNy
			,a.delNy
			,a.ccg_seq
		FROM 
		cc a
		WHERE 1=1
		AND seq = #{seq}
		
	</select> 
	
	<insert id="insertCd">
	
		INSERT INTO cc (
			,name
			,oder
			,useNy
			,delNy
			<!-- ,ccg_seq -->
		)
		VALUE(
			#{name}
			,#{oder}
			,#{useNy}
			,#{delNy}
			<!-- ,#{ccg_seq} -->
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>
	
	<update id="updateCd">
		
		UPDATE cc
		SET
			name = #{name}
			,oder = #{oder}
			,useNy = #{useNy}
			,delNy = #{delNy}
			,ccg_seq = #{ccg_seq}
		WHERE 1=1
			AND seq = #{seq}			
	
	</update>
	
		
 
 
		<!-- 코드그룹이름 자동로드 -->
		<select id="addCodeName" resultMap="resultMapObj">
		 SELECT
			a.name
			
		FROM ccg a 
		WHERE
		1=1
		</select>

		




</mapper>