<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.actorfw.infra.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		
	 	SELECT 
			*
		FROM member 
		WHERE 1=1

		<!-- <if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if> -->
		<choose>
			<when test="shOption == 1">AND name LIKE CONCAT('%',#{shValue},'%') </when>
			<when test="shOption == 2">AND user_type LIKE CONCAT('%',#{shValue},'%') </when>
			<when test="shOption == 3">AND password LIKE CONCAT('%',#{shValue},'%') </when>
			<when test="shOption == 4">AND dob LIKE CONCAT('%',#{shValue},'%') </when>
			<when test="shOption == 5">AND gender LIKE CONCAT('%',#{shValue},'%') </when>
			<when test="shOption == 6">AND email LIKE CONCAT('%',#{shValue},'%') </when>
		</choose>
		
	</select>
	
	<insert id="insert">
		INSERT INTO member (
			user_type
			,id
			,password
			,name
			,dob
			,gender
			,email
			,phone_number
			,director_type
			,actor_type
			,actor_height
			,actor_weight
			,actor_eyelid
			,actor_voice
			,age
			,company_useNy
		)
		VALUE(
			${user_type}
			,${id}
			,${password}
			,${name}
			,${dob}
			,${gender}
			,${email}
			,${phone_number}
			,${director_type}
			,${actor_type}
			,${actor_height}
			,${actor_weight}
			,${actor_eyelid}
			,${actor_voice}
			,${age}
			,${company_useNy}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
 	<!-- <resultMap id="resultMapObj2" type="com.actorfw.infra.modules.member.Member"></resultMap>
	
	<select id="searchList" resultMap="resultMapObj2">
		
	 	SELECT
	 		*
 		FROM member
 		WHERE 1=1
		AND
		<choose>
			<when test="shOption == 1"> name </when>
			<when test="shOption == 2"> user_type </when>
			<when test="shOption == 3"> password </when>
			<when test="shOption == 4"> dob </when>
			<when test="shOption == 5"> gender </when>
			<when test="shOption == 6"> email </when>
		</choose>
		LIKE CONCAT('%',#{shValue},'%')
		
	</select> -->
	
	
</mapper>	