<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.member.MemberMapper">

	<resultMap type="com.actorfw.infra.modules.member.Member" id="resultObj"></resultMap>

	<select id="selectList" resultMap="resultObj">
		SELECT 
			*
		FROM member
		WHERE 1=1
		<choose>
			<when test="shOption == 1"> AND seq = #{shValue} </when>
			<when test="shOption == 2"> AND name LIKE CONCAT ('%',#{shValue},'%') </when>
		</choose>
		<choose>	
			<when test="shUseOption == 0"> AND useNy LIKE CONCAT (0)</when>
			<when test="shUseOption == 1"> AND useNy LIKE CONCAT (1)</when>
		</choose>
		<choose>	
			<when test="shDelOption == 0"> AND useNy LIKE CONCAT (0)</when>
			<when test="shDelOption == 1"> AND useNy LIKE CONCAT (1)</when>
		</choose>
		
	</select>












</mapper>