<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.actorfw.infra.modules.xtourpost.TourPostMapper">

<resultMap type="com.actorfw.infra.modules.xtourpost.TourPost" id="resultObj"></resultMap>
	
	<select id="tourList" resultMap="resultObj">
		SELECT
			seq				AS tourSeq		
			,type			AS tourType
			,name			AS tourName
			,zip_code		AS tourZip_code
			,address		AS tourAddress
			,address_detail	AS tourAddress_detail
			,date			AS tourDate
			,note			AS tourNote
		FROM post_tour
		WHERE 1=1
			<!-- ORDER BY seq DESC -->
	</select>

	
	<insert id="insrtTour">
		INSERT INTO post_tour (
			type			
			,name			
			,zip_code		
			,address		
			,address_detail
			,date			
			,note			
		)
		VALUE (
			#{tourType}
			,#{tourName}
			,#{tourZip_code}
			,#{tourAddress}
			,#{tourAddress_detail}
			,#{tourDate}
			,#{tourNote}
		)	
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	


</mapper>	