<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.actorfw.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<!-- paging -->
	<sql id ="selectCommon">
		FROM ccg a
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if>
		<choose>
			<!-- <when test="shOption == 0"></when> -->
			<when test="shOption == 1">AND seq = #{shValue} </when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<!-- useNy -->
			<when test="shUseOption == 0"> AND useNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shUseOption == 1"> AND useNy LIKE CONCAT ('%',1,'%')</when>
		</choose>
		<!-- <choose>
			delNy
			<when test="shDelOption == 0"> AND delNy LIKE CONCAT ('%',0,'%')</when>
			<when test="shDelOption == 1"> AND delNy LIKE CONCAT ('%',1,'%')</when>
		</choose> -->
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.seq
				,a.name
				,a.delNy
				,a.useNy
				,a.oder
				,(select COUNT(aa.ccg_seq) from cc aa WHERE aa.ccg_seq = a.seq ) AS codeCount
				,a.creDate
				,a.modDate
		<include refid="selectCommon" />
				ORDER BY a.seq DESC	<!-- DESC내림차순 정렬  ASC오름차순 정렬 -->
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		
		SELECT 
			a.seq
			,a.name
			,a.useNy
			,a.oder
			,a.delNy
		FROM 
		ccg a
		WHERE 1=1
		AND seq = #{seq}

	</select>
	
 	<insert id="insert">		<!-- 데이터 넣기 -->
		INSERT INTO ccg (
			name
			,useNy
			,oder	
			,delNy
		)
		VALUE (
			#{name}
			,#{useNy}
			,#{oder}
			,#{delNy}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
 	
	<update id="update1">   		<!-- 데이터 수정 -->
	
		UPDATE ccg 
		SET
			name = #{name}
			,useNy = #{useNy}
			,oder = #{oder}
			,delNy = #{delNy}
			<!-- <include refid=""></include> -->
		WHERE 1=1
			AND seq = #{seq}
			
	</update>
	

	<update id="uelete"> 		<!-- delNY만 삭제처리 -->
	
		UPDATE ccg 
		SET
			delNY = 1
			<!-- <include refid=""></include> -->
		WHERE 1=1
			seq = #{seq}
	
	</update>
	
	<delete id="delete">		<!-- 데이터 삭제 -->
	
		DELETE FROM ccg WHERE seq = #{seq}
	
	</delete>
	
	


</mapper>	