<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.actorfw.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.actorfw.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		
	 	SELECT 
			a.*
			 ,(select COUNT(ccg_seq) from cc WHERE ccg_seq = a.seq ) AS codeCount
		FROM cc a
		WHERE 1=1
			<!-- AND useNy = 1 -->
			<!-- AND name LIKE CONCAT('%',#{shValue},'%') -->
		
	</select>
	
	
	<resultMap id="resultMapObj2" type="com.actorfw.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="searchList" resultMap="resultMapObj2">
		
	 	SELECT
	 		*
 		FROM ccg
 		WHERE 1=1
		AND
		<choose>
			<when test="shOption == 1"> name </when>
			<when test="shOption == 2"> useNy </when>
		</choose>
		LIKE CONCAT('%',#{shValue},'%')
		
	</select>

</mapper>	