<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.actorfw.infra.modules.xactorpost.ActorPostMapper">

<resultMap type="com.actorfw.infra.modules.xactorpost.ActorPost" id="resultObj"></resultMap>

	<select id="actorList" resultMap="resultObj">
		SELECT
			*
		FROM member
		WHERE user_type = 26
			<!-- ORDER BY seq DESC -->
	</select>


	





</mapper>