<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.actorfw.infra.modules.xactorpost.ActorPostMapper">

<resultMap type="com.actorfw.infra.modules.xactorpost.ActorPost" id="resultObj"></resultMap>
	
	<sql id ="selectCommon">
		FROM member a
		INNER JOIN memberUploaded b
		ON b.pseq = a.seq
		WHERE a.user_type = 26
		AND b.type = 2
		AND b.defaultNy = 1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ifcgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="actorList" resultMap="resultObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.*
			,b.path
			,b.uuidName
		<include refid="selectCommon" />
			<choose>
				<when test="gender != null">
					AND a.gender = #{gender}
				</when>
			</choose>
		ORDER BY a.seq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
			<choose>
				<when test="gender != null">
					AND a.gender = #{gender}
				</when>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultObj">
		SELECT
			*
			,b.path
			,b.uuidName
		FROM member a
		JOIN memberUploaded b
		WHERE 1=1
		AND b.defaultNy = 1
		AND b.type = 2
		AND b.pseq = #{seq}
		AND a.seq = #{seq}
		
	</select>
	<select id="snslist" resultMap="resultObj">
		SELECT
			type
			,url
		FROM actor_sns
		WHERE 1=1
		AND member_seq = #{seq}
	</select>
	<select id="filmolist" resultMap="resultObj">
		SELECT
			period
			,type
			,producer
			,name
			,role
		FROM actor_filmography
		WHERE 1=1
		AND member_seq = #{seq}	
	</select>
		
	<select id="edulist" resultMap="resultObj">
		SELECT
			period_s
			,period_e
			,school_name
			,major
			,type
		FROM actor_education
		WHERE 1=1
		AND member_seq = #{seq}	
	</select>
	<select id="awardlist" resultMap="resultObj">
		SELECT
			period
			,name
			,issuer
		FROM actor_award
		WHERE 1=1
		AND member_seq = #{seq}	
	</select>
	<select id="imageSubView" resultMap="resultObj">
		SELECT 
			*
		FROM memberUploaded
		WHERE defaultNy = 0		<!-- defaultNy 0 = 메인이미지제외 -->	
		AND   type = 2			<!-- type 2 = 서브이미지 -->
		AND pseq = #{seq}
	</select>
	<select id="actorVideo" resultMap="resultObj">
		SELECT 
			*
		FROM memberUploaded
		WHERE defaultNy = 0		<!-- defaultNy 0 = 메인이미지제외 -->	
		AND   type = 3			<!-- type 3 = 영상 -->
		AND pseq = #{seq}
	</select>
	





</mapper>